async-timeout==4.0.2
aws-requests-auth==0.4.3
boto==2.49.0
boto-utils==0.3
boto3==1.21.25
botocore==1.24.25
certifi==2022.6.15
charset-normalizer==2.1.0
configparse==0.1.5
Deprecated==1.2.13
idna==3.3
jmespath==1.0.0
joblib==1.1.0
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pydantic==1.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
redis==4.3.4
requests==2.28.1
s3transfer==0.5.2
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.9
wrapt==1.14.0
